@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,400;1,700&display=swap");
:root {
  --color-primary: #575757;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  color: var(--color-primary);
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 80%;
  }
}

@media only screen and (min-width: 1224px) {
  html {
    font-size: 85%;
  }
}

@media only screen and (min-width: 1400px) {
  html {
    font-size: 90%;
  }
}

.section-heading {
  font-size: 8rem;
  font-weight: 700;
  text-align: center;
}

.header-main {
  font-size: 1.7rem;
  position: absolute;
  background-color: transparent;
  padding: 2.4rem 2.6rem;
  width: 100%;
}

@media only screen and (min-width: 1224px) {
  .header-main {
    padding: 3rem 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header-main__logo {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-primary);
  text-decoration: none;
}

.navigation {
  margin-top: 3.2rem;
  min-width: 80%;
}

@media only screen and (min-width: 1224px) {
  .navigation {
    margin-top: 0;
    min-width: 30%;
  }
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__item:hover:not(:last-child) a {
  border-bottom: 3px solid var(--color-primary);
}

.navigation__link {
  font-size: 1.4rem;
  text-transform: lowercase;
  text-decoration: none;
  color: var(--color-primary);
}

.navigation__image {
  pointer-events: none;
}

.section-hero {
  background-image: url("../assets/hero.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 0 2.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section-hero__inner {
  background-color: rgba(87, 87, 87, 0.5);
  position: relative;
  padding: 1rem 3rem 2rem 1.5rem;
  font-size: 4rem;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .section-hero__inner {
    font-size: 6rem;
  }
}

@media only screen and (min-width: 1224px) {
  .section-hero__inner {
    font-size: 8rem;
    margin-left: 13rem;
    margin-top: 13rem;
  }
}

.section-hero__inner::before, .section-hero__inner::after {
  content: "";
  position: absolute;
}

.section-hero__inner::before {
  width: 7.5em;
  height: 3px;
  background-color: #FFF;
  left: 0;
  top: 100%;
}

.section-hero__inner::after {
  width: 3px;
  height: 2.5em;
  background-color: #000;
  right: 0;
  top: 0;
}

.section-hero__heading {
  font-size: inherit;
  font-weight: inherit;
  color: #FFF;
}

@media only screen and (min-width: 1224px) {
  .caption {
    position: absolute;
    right: 10.8rem;
    top: 12rem;
    padding-right: .5rem;
    border-right: 1px solid var(--color-primary);
    display: none;
  }
}

.section-about {
  width: 100%;
}

@media only screen and (min-width: 1224px) {
  .section-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5rem 3rem;
    width: 60%;
    margin: 0 auto;
  }
}

.section-about__heading {
  border-bottom: 3px solid var(--color-primary);
}

@media only screen and (min-width: 1224px) {
  .section-about__heading {
    border-bottom: none;
    border-right: 3px solid var(--color-primary);
    padding-right: 2rem;
  }
}

.personal-card {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .personal-card {
    max-width: 70%;
  }
}

.personal-card__avatar {
  width: 6rem;
  height: 6rem;
  margin-right: 1rem;
}

.personal-card__name {
  font-size: 2rem;
}

.personal-card__profession {
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.personal-card__description {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.personal-card__socials {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.personal-card__social-text {
  padding-top: .6rem;
  margin-right: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.personal-card__icon {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
}

.main {
  padding: 1rem;
}

.section-notes__heading {
  border-bottom: 3px solid var(--color-primary);
}

.section-notes__container {
  padding: 1.5rem 0;
}

@media only screen and (min-width: 768px) {
  .section-notes__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

.card {
  background-color: #d8d8d8ad;
  margin: .5rem;
}

@media only screen and (min-width: 768px) {
  .card {
    width: calc(50% - 2 * .5rem);
  }
}

@media only screen and (min-width: 1224px) {
  .card {
    width: calc(33.333333% - 3 * .5rem);
  }
}

.card__heading {
  padding: 1rem 0;
  text-align: center;
  font-size: 2rem;
  border-bottom: 1px solid var(--color-primary);
}

.card__list {
  padding: 1rem 5rem;
  list-style: none;
}

.card__item {
  font-size: 1.2rem;
  padding: .5rem 0;
}

.live {
  font-weight: 700;
  color: black;
  background-color: white;
  padding: .3rem .5rem;
  border-radius: 5px;
  display: inline-block;
}

.live::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: red;
  display: inline-block;
  margin-right: .3rem;
}
/*# sourceMappingURL=main.css.map */