.card {
   background-color: #d8d8d8ad;
   margin: .5rem;

   @media only screen and (min-width : 768px) {
      width: calc(50% - 2 * .5rem);
   }

   @media only screen and (min-width : 1224px) {
      width: calc(33.333333% - 3 * .5rem);
   }

   &__heading {
      padding: 1rem 0;
      text-align: center;
      font-size: 2rem;
      border-bottom: 1px solid var(--color-primary);
   }

   &__list {
      padding: 1rem 5rem;
      list-style: none;
   }

   &__item {
      font-size: 1.2rem;
      padding: .5rem 0;
   }
}

.live {
   font-weight: 700;
   color: black;
   background-color: white;
   padding: .3rem .5rem ;
   border-radius: 5px;
   display: inline-block;

   &::before {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: red;
      display: inline-block;
      margin-right: .3rem;
   }
}