.section-hero {
   background-image: url('../assets/hero.jpg') ;
   background-position: center;
   background-size: cover;
   height: 100vh;
   padding: 0 2.6rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   //position: relative;

   &__inner {
      background-color: rgba(87, 87, 87, .5);
      position: relative;
      padding: 1rem 3rem 2rem 1.5rem;
      font-size: 4rem;
      font-weight: 700;

      @media only screen and (min-width : 768px) {
         font-size: 6rem;
      }

      @media only screen  and (min-width : 1224px) {
         font-size: 8rem;
         margin-left: 13rem;
         margin-top: 13rem;
      }

      &::before,
      &::after {
         content: "";
         position: absolute;
      }

      &::before {
         width: 7.5em;
         height: 3px;
         background-color: #FFF;
         left: 0;
         top: 100%;
      }

      &::after {
         width: 3px;
         height: 2.5em;
         background-color: #000;
         right: 0;
         top: 0;
      }
   }

   &__heading {
      font-size: inherit;
      font-weight: inherit;
      color: #FFF;
   }
}