.navigation {
   margin-top: 3.2rem;
   min-width: 80%;

   &__list {
      display: flex;
      justify-content: space-between;
      list-style: none;
   }

   &__item {

   }

   &__link {
      text-transform: lowercase;
      text-decoration: none;
      color: var(--primary-color);
   }
}