.section-notes {

   &__heading {
      border-bottom: 3px solid var(--color-primary);
   }

   &__container {
      padding: 1.5rem 0;
      
      @media only screen and (min-width : 768px) {
         display: flex;
         flex-flow: row wrap;
      }
   }
}